a:hover {
  text-transform: none;
  text-decoration: none;
}
/* .sidebar .sub-menu {
  left: 330px;
  width: 220px;
  top: 80px;
} */
/* .sidebar .sub-menu ul li a {
  height: unset;
  padding: unset;
  border: unset;
}
.sidebar .sub-menu ul li.active:after {
  display: none;
}
.sidebar .sub-menu {
  box-shadow: unset;
} */
