<nav class="navbar fixed-top">
  <a class="menu-button d-none d-md-block" (click)="onMenuChange()">
    <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
      <rect x="0.48" y="0.5" width="7" height="1"></rect>
      <rect x="0.48" y="7.5" width="7" height="1"></rect>
      <rect x="0.48" y="15.5" width="7" height="1"></rect>
    </svg>
    <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
      <rect x="1.56" y="0.5" width="16" height="1"></rect>
      <rect x="1.56" y="7.5" width="16" height="1"></rect>
      <rect x="1.56" y="15.5" width="16" height="1"></rect>
    </svg>
  </a>

  <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
      <rect x="0.5" y="0.5" width="25" height="1"></rect>
      <rect x="0.5" y="7.5" width="25" height="1"></rect>
      <rect x="0.5" y="15.5" width="25" height="1"></rect>
    </svg>
  </a>

  <div class="search" data-search-path="Layouts.Search.html?q=">
    <input placeholder="{{'search' | translate}}...">
    <span class="search-icon">
      <i class="simple-icon-magnifier"></i>
    </span>
  </div>

  <a class="navbar-logo" href="Dashboard.Default.html">
    <span class="logo d-none d-xs-block"></span>
    <span class="logo-mobile d-block d-xs-none"></span>
  </a>
  <div class="ml-auto">
    <div class="header-icons d-inline-block align-middle">
      <app-dropdown btnIcon="simple-icon-grid" dropDownID="iconMenuDropdown">
        <a href="#" class="icon-menu-item">
          <i class="iconsmind-Equalizer d-block"></i>
          <span>{{'settings' | translate}}</span>
        </a>

        <a href="#" class="icon-menu-item">
          <i class="iconsmind-MaleFemale d-block"></i>
          <span>{{'users' | translate}}</span>
        </a>

        <a href="#" class="icon-menu-item">
          <i class="iconsmind-Puzzle d-block"></i>
          <span>{{'components' | translate}}</span>
        </a>

        <a href="#" class="icon-menu-item">
          <i class="iconsmind-Bar-Chart d-block"></i>
          <span>{{'profits' | translate}}</span>
        </a>

        <a href="#" class="icon-menu-item">
          <i class="iconsmind-File-Chart d-block"></i>
          <span>{{'surveys' | translate}}</span>
        </a>

        <a href="#" class="icon-menu-item">
          <i class="iconsmind-Suitcase d-block"></i>
          <span>{{'tasks' | translate}}</span>
        </a>
      </app-dropdown>

      <app-dropdown btnIcon="simple-icon-bell" class="header-icon" dropDownID="notificationDropdown">
        <div class="d-flex flex-row mb-3 pb-3 border-bottom">
          <a href="#">
            <img src="http://dore-jquery.crealeaf.com/img/profile-pic-l-2.jpg" alt="Notification Image" class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle">
          </a>
          <div class="pl-3 pr-2">
            <a href="#">
              <p class="font-weight-medium mb-1">Joisse Kaycee just sent a new comment!</p>
              <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
            </a>
          </div>
        </div>

        <div class="d-flex flex-row mb-3 pb-3">
          <a href="#">
            <img src="http://dore-jquery.crealeaf.com/img/profile-pic-l-2.jpg" alt="Notification Image" class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle">
          </a>
          <div class="pl-3 pr-2">
            <a href="#">
              <p class="font-weight-medium mb-1">3 items just added to wish list by a user!</p>
              <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
            </a>
          </div>
        </div>
      </app-dropdown>
      <app-dropdown btnIcon="simple-icon-compass">
        <!-- routerLink="./" queryParamsHandling="merge" [queryParams]="{ persist_locale: 'en'}" -->
        <a class="dropdown-item" (click)="changeLang('en')">
          <i class="iconsmind-United-States"></i> EN</a>
        <a class="dropdown-item" (click)="changeLang('zh-cn')">
          <i class="iconsmind-China"></i> CH</a>
      </app-dropdown>
    </div>
    <app-dropdown userName="Sarah Kortney" userImage="http://dore-jquery.crealeaf.com/img/profile-pic-l.jpg" show="true" class="user">
      <a class="dropdown-item" href="#">{{'account' | translate}}</a>
      <a class="dropdown-item" href="#">{{'features' | translate}}</a>
      <a class="dropdown-item" href="#">{{'history' | translate}}</a>
      <a class="dropdown-item" href="#">{{'support' | translate}}</a>
      <a class="dropdown-item" href="#">{{'sign-out' | translate}}</a>
    </app-dropdown>
  </div>
</nav>
