.modal.fade.modal-right.show {
  display: block;
  width: 30%;
  right: 0;
  left: unset;
  -webkit-transform: translate(0);
  transform: translate(0);
}

.modal.fade.modal-right {
  transform: translate(100%);
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.modal-content {
  position: relative;
}
