<!-- <div class="tab-content">
  <div class="tab-pane" [ngClass]="{'active show':sIndex === AIndex}">
    <p class="text-muted text-small">Status</p>
    <ul class="list-unstyled mb-5">
      <li class="active">
        <a href="#">
          <i class="simple-icon-refresh"></i>
          Pending Tasks
          <span class="float-right">12</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="simple-icon-check"></i>
          Completed Tasks
          <span class="float-right">24</span>
        </a>
      </li>
    </ul>
    <ng-content></ng-content>
  </div> -->
<!-- <div class="tab-pane" [ngClass]="{'active show':sIndex === 1}">
      <p class="text-muted text-small">Categories</p>
      <ul class="list-unstyled mb-5">
        <li>
          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" class="custom-control-input" id="category1">
            <label class="custom-control-label" for="category1">Flexbox</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" class="custom-control-input" id="category2">
            <label class="custom-control-label" for="category2">Sass</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="category3">
            <label class="custom-control-label" for="category3">React</label>
          </div>
        </li>
      </ul>
      <p class="text-muted text-small">Labels</p>
      <div>
        <p class="d-sm-inline-block mb-1">
          <a href="#">
            <span class="badge badge-pill badge-outline-primary mb-1">NEW FRAMEWORK</span>
          </a>
        </p>

        <p class="d-sm-inline-block mb-1">
          <a href="#">
            <span class="badge badge-pill badge-outline-theme-3 mb-1">EDUCATION</span>
          </a>
        </p>
        <p class="d-sm-inline-block mb-1">
          <a href="#">
            <span class="badge badge-pill badge-outline-secondary mb-1">PERSONAL</span>
          </a>
        </p>
      </div>
    </div> -->
<!-- </div> -->

<div *ngIf="active" [@fadeSlow]="active">
  <ng-content></ng-content>
</div>
