<div class="app-menu">
  <div class="p-4">
    <div class="scroll">

      <!-- <app-tabset [navItems]="tabs" [disableStyle]="false" [customNavClass]="'nav-test-class'"></app-tabset> -->
      <app-tabset [customNavClass]="'nav-test-class'">
        <app-tab-content title="Columns" icon="iconsmind-Column-2">
          <p class="text-muted text-small">Status</p>
          <ul class="list-unstyled mb-3">
            <li class="active">
              <a href="#">
                <i class="simple-icon-refresh"></i>
                Pending Tasks
                <span class="float-right">12</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="simple-icon-check"></i>
                Completed Tasks
                <span class="float-right">24</span>
              </a>
            </li>
          </ul>
        </app-tab-content>
        <app-tab-content title="Filters" icon="iconsmind-Filter-2">
          <app-collapse toggleTitle="Categories">
            <ul class="list-unstyled mb-3">
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category1">
                  <label class="custom-control-label" for="category1">Flexbox</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category2">
                  <label class="custom-control-label" for="category2">Sass</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category3">
                  <label class="custom-control-label" for="category3">React</label>
                </div>
              </li>
            </ul>
          </app-collapse>
          <app-collapse toggleTitle="Categories1">
            <ul class="list-unstyled mb-3">
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category1">
                  <label class="custom-control-label" for="category1">Flexbox</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category2">
                  <label class="custom-control-label" for="category2">Sass</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category3">
                  <label class="custom-control-label" for="category3">React</label>
                </div>
              </li>
            </ul>
          </app-collapse>
          <app-collapse toggleTitle="Categories2">
            <ul class="list-unstyled mb-3">
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category1">
                  <label class="custom-control-label" for="category1">Flexbox</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category2">
                  <label class="custom-control-label" for="category2">Sass</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category3">
                  <label class="custom-control-label" for="category3">React</label>
                </div>
              </li>
            </ul>
          </app-collapse>
          <app-collapse toggleTitle="Categories3">
            <ul class="list-unstyled mb-3">
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category1">
                  <label class="custom-control-label" for="category1">Flexbox</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category2">
                  <label class="custom-control-label" for="category2">Sass</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category3">
                  <label class="custom-control-label" for="category3">React</label>
                </div>
              </li>
            </ul>
          </app-collapse>
          <app-collapse toggleTitle="Categories4">
            <ul class="list-unstyled mb-3">
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category1">
                  <label class="custom-control-label" for="category1">Flexbox</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category2">
                  <label class="custom-control-label" for="category2">Sass</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category3">
                  <label class="custom-control-label" for="category3">React</label>
                </div>
              </li>
            </ul>
          </app-collapse>
          <app-collapse toggleTitle="Categories5">
            <ul class="list-unstyled mb-3">
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category1">
                  <label class="custom-control-label" for="category1">Flexbox</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category2">
                  <label class="custom-control-label" for="category2">Sass</label>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="category3">
                  <label class="custom-control-label" for="category3">React</label>
                </div>
              </li>
            </ul>
          </app-collapse>
        </app-tab-content>
        <app-tab-content title="Mode" icon="iconsmind-Geo-Number">
          Content of the Mode Tab
        </app-tab-content>
      </app-tabset>
    </div>
  </div>
  <a class="app-menu-button d-inline-block d-xl-none" href="#">
    <i class="simple-icon-refresh"></i>
  </a>
</div>
