<div class="position-relative d-inline-block top-header-icon" #anchor (click)="OnDropDownMenu()">
  <button class="header-icon btn btn-empty" [ngClass]="{'btn-outline-dark btn-xs dropdown-toggle': sortClasses}" type="button">
    <i class="{{btnIcon}}"></i>
    <span *ngIf="sortClasses">{{sortByTitle}}</span>
    <span *ngIf="show">
      <span class="name">{{userName}}</span>
      <span>
        <img alt="Profile Picture" [src]="userImage">
      </span>
    </span>
  </button>
  <div class="dropdown-menu dropdown-menu-right mt-1 position-absolute show" id="{{dropDownID}}" #popup *ngIf="dropDownUser">
    <ng-content></ng-content>
  </div>
</div>
