<div class="row">
  <div class="col-12">
    <div class="card mb-4 no-connection">
      <div class="card-body">
        <div class="jumbotron display-custom">
          <h1 class="display-4 ">
            <i class="{{emptyIcon}}"></i> {{emptyTitle}}</h1>
          <p class="lead">{{emptyDescription}}</p>
          <hr class="my-4">
          <p>
            {{emptyDescription2}}
          </p>
          <p class="lead  mb-0">
            <a class="btn btn-primary btn-lg" href="#" role="button">{{emptyBTN}}</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
