<div class="container-fluid">
  <div class="">
    <div class="col-12 list" data-check-all="checkAll">
      <div class="mb-2">
        <h1>
          <i class="simple-icon-refresh heading-icon"></i>
          <span class="align-middle d-inline-block pt-1">Creating Wireframes</span>
        </h1>
        <div class="float-md-right">

          <button type="button" class="btn btn-lg btn-outline-primary dropdown-toggle dropdown-toggle-split top-right-button top-right-button-single"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ACTIONS
          </button>
          <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(1055px, 42px, 0px); top: 0px; left: 0px; will-change: transform;">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </div>
      </div>



      <ul class="nav nav-tabs separator-tabs ml-0 mb-5" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="false">DETAILS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active show" id="third-tab" data-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="true">CONTRIBUTIONS</a>
        </li>
      </ul>

    </div>
  </div>
</div>
