.col-12.survey-app {
  border-radius: calc(0.15rem - 1px);
  width: 100%;
  padding: 23px;
  background-color: #fff;
  height: 150px;
  border-bottom: 1px solid #d7d7d7;
  position: relative;
}
button.btn.trach-icon {
  color: #922b88;
}
.btn-header-light.trach-icon:hover {
  border-color: #922b88;
}
.back-link {
  position: relative;
  font-size: 15px;
  top: 19px;
}
a.back-link:after {
  content: "";
  width: 52px;
  height: 1px;
  background-color: #bdbdbd;
  display: block;
  position: absolute;
  top: 22px;
}
.light-text {
  font-size: 12px;
  color: #4a4a4a;
}
