.no-left-data {
  padding: 30px 10px;
  margin-top: 66px;
}
.no-left-data i {
  text-align: center;
  display: block;
  font-size: 50px;
}
.no-left-data p {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}
