<div class="app-menu">
  <div class="p-4">
    <div class="scroll ps" style="height: 267px;" *ngIf="emptyData.length !== 0">
      <ng-content select="[reset]"></ng-content>
      <ng-content></ng-content>
      <!-- <p class="text-muted text-small">Categories</p>
        <ul class="list-unstyled mb-5">
          <li>
            <div class="custom-control custom-checkbox mb-2">
              <input type="checkbox" class="custom-control-input" id="category1">
              <label class="custom-control-label" for="category1">Flexbox</label>
            </div>
          </li>
          <li>
            <div class="custom-control custom-checkbox mb-2">
              <input type="checkbox" class="custom-control-input" id="category2">
              <label class="custom-control-label" for="category2">Sass</label>
            </div>
          </li>
          <li>
            <div class="custom-control custom-checkbox ">
              <input type="checkbox" class="custom-control-input" id="category3">
              <label class="custom-control-label" for="category3">React</label>
            </div>
          </li>
        </ul>

   -->


    </div>
    <div class="scroll ps" style="height: 267px;" *ngIf="emptyData.length === 0">
      <!-- <div id="clouds">
          <div class="cloud x1"></div>
        </div> -->
      <div class="no-left-data">
        <i class="iconsmind-Mailbox-Empty"></i>
        <p>No Data Yet</p>
      </div>
    </div>
  </div>
  <a class="app-menu-button d-inline-block d-xl-none" href="#">
    <i class="simple-icon-refresh"></i>
  </a>
</div>
