<nav [ngClass]="{'tabset-style': !disableStyle}">
  <ul class="nav nav-tabs separator-tabs ml-0 mb-5" [ngClass]="customNavClass" role="tablist">
    <li class="nav-item" *ngFor="let nav of tabs; let i = index" (click)="changeActiveTab(nav)">
      <a class="nav-link" [class.active]="nav.active" [class.disabled]="nav.disabled">
        <i [ngClass]="nav.icon"></i> {{nav.title}}</a>
    </li>
  </ul>
</nav>
<div class="tab-content">
  <div class="tabset-content">
    <ng-content></ng-content>
  </div>
</div>
