<ul class="list-unstyled">
  <ng-container (click)="onItemSelected(item)" *ngFor="let item of navItems;let i = index">
    <li routerLinkActive="active">
      <a routerLink="{{item.path}}" *ngIf="!item.children" (click)="onDirectLink()">
        <i class="iconsmind-{{item.icon}}"></i>
        <span>{{item.title | translate}}</span>
      </a>
      <a *ngIf="item.children" (click)="selectedSort(i)">
        <i class="iconsmind-{{item.icon}}"></i>
        <span>{{item.title | translate}}</span>
      </a>


      <div class="sub-menu" *ngIf="item.children" [ngClass]="{'shown':sIndex === i}">
        <div class="scroll ps">

          <ul class="list-unstyled">
            <li *ngFor="let child of item.children" (click)="onItemSelected(item)">
              <a routerLink="{{child.path}}" routerLinkActive="active" (click)="onDirectLink()">
                <i class="{{child.icon}}"></i> {{child.title | translate}}
              </a>
            </li>
          </ul>

        </div>
      </div>

    </li>
  </ng-container>
</ul>
