<p>
  Start editing to see some magic happen :)
</p>
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-sm ">
      <div class="panel-body">
        <h5>Basic Info</h5>
        <div class="hs-lead">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="exampleSelect1">Sex</label>
                <div class="row">
                  <div class="col-sm-9">
                    <select class="form-control" [(ngModel)]="Sex" (change)="filterMatch('Sex', Sex)">
                      <option *ngFor="let obj of students" value="{{obj.Sex}}"> {{obj.Sex}} </option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-primary" *ngIf="Sex" (click)="removeFilter('Sex')">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="exampleSelect1">ProgramCategory</label>
                <div class="row">
                  <div class="col-sm-9">
                    <select class="form-control" [(ngModel)]="todo_categories" (change)="filterMatch('todo_categories', todo_categories)">
                      <option value="Personal">Personal</option>
                      <option value="Store">Store</option>
                      <option value="Finance">Finance</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-primary" *ngIf="todo_categories" (click)="removeFilter('Programs')">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="form-group">
                <label for="exampleSelect1">ProgramStatus</label>
                <div class="row">
                  <div class="col-sm-9">
                    <select class="form-control" [(ngModel)]="todo_labels" (change)="filterMatch( 'todo_labels', todo_labels)">
                      <option value="HOLD">HOLD</option>
                      <option value="PROCESSED">PROCESSED</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-primary" *ngIf="todo_labels" (click)="removeFilter('Programs')">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>



</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-xl">
      <div class="panel-body">
        <h5>Result
          <span class="badge badge-info badge-pill pull-right">{{ filteredStudents.length }}</span>
        </h5>
        <div class="hs-lead">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Sex</th>
                  <th>Programs</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredStudents">
                  <td>{{item.todo_name }}</td>
                  <td>{{item.todo_categories }}</td>
                  <td>{{item.todo_labels}}</td>
                  <td>
                    {{item.length}}

                    <ol>
                      <li>{{item.todo_date}} </li>
                    </ol>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
