<div class="card d-flex flex-row mb-3 loadder-continer">
  <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
    <div class="pl-2 d-flex flex-grow-1 min-width-zero post">
      <a class="w-40 w-sm-100">
        <div>
          <div class="avatar"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </a>
      <div class="mb-1 text-muted text-small w-15 w-sm-100">
        <div class="line line-small"></div>
      </div>
      <div class="mb-1 text-muted text-small w-15 w-sm-100">
        <div class="line line-small"></div>
      </div>
      <div class="w-15 w-sm-100">
        <span class="">
          <div class="line color"></div>
        </span>
      </div>
    </div>
  </div>
</div>
